:root {
   --ffamily: Menlo, Monaco, Consolas, monospace;
   --fsize: 16px;

   --control-space: 40px;

   --lang-width: 190px;
   --lang-height: 50px;
   --lang-margin: 10px;

   --bg: #24292e;
   --fg: #fee;
   --scroll-bg: #2f363d;
   --scroll-fg: #444d56;

   transition: all ease-out .3s;
}

:root.light {
   --bg: #fafbfc;
   --fg: #24292e;
   --scroll-bg: #f6f8fa;
   --scroll-fg: #d1d5da;
}

html, body {
   margin: 0;
   width: 100vw;
   height: 100vh;
}

html {
   background-color: var(--bg);
   color: var(--fg);
   font-family: var(--ffamily);
   font-size: var(--fsize);
   overflow: hidden;
}

body {
   text-align: center;
   overflow-y: auto;
   scrollbar-color: var(--scroll-fg) var(--scroll-bg);
}

#controls {
   height: var(--control-space);
}

#langs {
   display: inline;
   position: relative;
}

lang-info {
   border-radius: 3px;
   display: inline flex;
   align-items: center;
   flex-direction: column;
   width: var(--lang-width);
   height: var(--lang-height);
   margin: var(--lang-margin);
}

.color {
   margin-top: 6px;
   width: 95%;
   border-radius: 420px;
   height: 10px;
}

button {
   position: absolute;
   background-color: var(--scroll-bg);
   border: 2px solid var(--scroll-fg);
   top: calc(0px - var(--control-space));
}

#lights {
   --offset-right: 5px;
   right: calc(var(--lang-margin) + var(--offset-right));
}

#hidden {
   --offset-right: 55px;
   right: calc(var(--lang-margin) + var(--offset-right));
}
