/* If you are writing usercss for this page, override the vars in here */

:root {
   --ffamily: Menlo, Monaco, Consolas, monospace;
   --fsize: 16px;
   --lang-width: 190px;
   --lang-height: 50px;
   --lang-margin: 10px;
   transition: all ease-out .3s;

   --bg: #24292e;
   --fg: #fee;
   --scroll-bg: #2f363d;
   --scroll-fg: #444d56;
}

:root.light {
   --bg: #fafbfc;
   --fg: #24292e;
   --scroll-bg: #f6f8fa;
   --scroll-fg: #d1d5da;
}

html, body {
   margin: 0;
   width: 100vw;
   height: 100vh;
}

html {
   background-color: var(--bg);
   color: var(--fg);
   font-family: var(--ffamily);
   font-size: var(--fsize);
   overflow: hidden;
}

body {
   text-align: center;
   overflow-y: auto;
   scrollbar-color: var(--scroll-fg) var(--scroll-bg);
}

lang-info {
   border-radius: 3px;
   display: inline flex;
   align-items: center;
   flex-direction: column;
   width: var(--lang-width);
   height: var(--lang-height);
   margin: var(--lang-margin);
}

.color {
   margin-top: 6px;
   width: 95%;
   border-radius: 420px;
   height: 10px;
}
