:root {
   --font-family-monospace: Menlo, Monaco, Consolas, monospace;
   --grey-700: #444d56;
   --grey-800: #2f363d;
   --grey-900: #24292e;
}

html, body {
   margin: 0;
   width: 100vw;
   height: 100vh;
}

html {
   background-color: var(--grey-800);
   color: #fee;
   font-family: var(--font-family-monospace);
   overflow: hidden;
}

body {
   text-align: center;
   overflow-y: auto;
   scrollbar-color: var(--grey-700) var(--grey-900);
}

lang-info {
   border-radius: 3px;
   display: inline flex;
   align-items: center;
   flex-direction: column;
   width: 190px;
   height: 50px;
   margin: 10px;
}

.color {
   margin-top: 6px;
   width: 95%;
   border-radius: 420px;
   height: 10px;
}
